.category_list_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  margin-inline: 4rem;
}
.category_list_container a {
  color: #5a7ab5;
  text-decoration: none;
  font-size: 30px;
  font-weight: bold;
}
.box {
  background-color: #d9ebfa;
  padding: 3rem;
  border-radius: 20px;
}

h1 {
  font-size: 50px;
  padding-inline: 4.5rem;
  color: #5a7ab5;
}
